@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }

  .barbers > .container {
    width: 480px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .bottom-text {
    font-size: 18px;
    line-height: 1.67;
  }

  .hero {
    background-image: unset;
    background-color: unset;
  }
  .hero-soc {
    width: 116px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }
  .hero-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    /* width: 100px; */
  }

  .hero-list::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }

  .hero-link {
    color: #303030;

    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.2em;
  }

  .hero-link:is(:hover, :focus) {
    color: #ff6c00;
  }

  .hero-wrap {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero/hero-bg-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 270px 100px 237px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero/hero-bg-tab-2x.jpg);
    }
  }

  .hero-bottom-text {
    max-width: 360px;
  }

  .gallery-top-text {
    margin-bottom: 44px;
  }

  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .barbers > .container {
    width: 1200px;
  }

  .barbers-item {
    flex-basis: calc((100% - 60px) / 3);
    /* width: 100%; */
  }

  .gallery-item {
    width: calc((100% - 90px) / 4);
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .header-list {
    display: flex;
    gap: 30px;
  }

  .header-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
    transition: color 300ms linear;
  }

  .header-link:is(:hover, :focus) {
    color: #ff6c00;
  }

  .header-tel {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 43px;
  }
  .header-btn {
    display: block;
    color: var(--main-btn-color);
  }

  .hero-wrap {
    padding-bottom: 210px;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero/hero-bg-desc.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../images/hero/hero-bg-desc-2x.jpg);
    }
  }

  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    background-color: #ffffff;
  }
}
